version: '3.8'

services:
    mysql-db:
        image: mysql:8.0
        container_name: staymate-mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: MdAshikur123+
            MYSQL_DATABASE: authdb
        ports:
            - "3306:3306"
        volumes:
            - mysql_data:/var/lib/mysql
        healthcheck:
            test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
            interval: 10s
            timeout: 5s
            retries: 5

volumes:
    mysql_data:
